<html>
    <body>
        <head>
            <link rel="stylesheet" href="/css/stylelinks.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        </head>
        <header>
            <div class="CircularImage">
                <img src="/pictures/ImageYes.png" alt="picture of meself :D"> 
            </div>
            <h3>Test Website</h3>
            <p>this is for testing :D</p>
        </header>
        <nav class="links">
                <h2 class="articled_heading">Latest Articles</h2>

                <ul class="article-ul">
                    <% data.forEach(post => { %>
                    
                    <li>
                        <a href="/post/<%= post._id %>">
                            <span><%= post.title %></span>
                            <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
                        </a>
                    </li>

                    <% }) %>
                </ul>
        </nav> 
    </body>
</html>